<h1>Strive Talent Assessment</h1>

<h3>
  Welcome to the Strive Talent assessment. This assessment will allow you to 
  prove your potential to multiple employers at once. Good luck, and we'll be in touch!
</h3>
<%= flash[:errors]%>
<form action="<%= users_url %>" method="post">
  <input type="hidden" name="authenticity_token"
         value="<%= form_authenticity_token %>">
  <label for="user_first">First Name: </label>
  <input
    type="text"
    name="user[first]"
    value="<%= @user.first if @user %>"
    id="user_first">

  <label for="user_password">Last Name: </label>
  <input
    type="text"
    name="user[last]"
    id="user_last">

  <label for="user_email">Email: </label>
  <input
    type="email"
    name="user[email]"
    id="user_last">

  <input type="submit" value="Submit">
</form>