<h1>Strive Talent Assessment</h1>

<h3>
  Welcome to the Strive Talent assessment. This assessment will allow you to 
  prove your potential to multiple employers at once. Good luck, and we'll be in touch!
</h3>

<%= link_to "Begin", "/answers/q1.html.erb" %>