<p>
  some question stuff
</p>

<form action="answers_url" method="POST">
  <input type="text"
         name="answer[answer]"
         value=""
  >

  <input type="submit">
</form>

<%= link_to "Next", "/answer/q2" %>